@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-block;
  padding: 0;
  width: 100%;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar a, #sidebar a:focus {
  color: white;
  text-decoration: underline;
  text-decoration-color: #4c5b9e;
}

#sidebar a:hover {
  color: rgba(255, 255, 255, 0.712);
  text-decoration-color: #4c5b9e;
}

#sidebar {
  background: #2e4199;
  color: #fff;
  transition: all 0.3s;
  height: 100%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    text-decoration: underline;
}

#sidebar ul li {
  padding-left: 10px;
  padding-right: 10px;
}

#back-to-top {
  position: fixed;
  bottom: 0px;
  right: 25px;
  border: 1px solid gray;
}

.sidebar-padding {
  padding: 25px;
}

.badge-skill-wrapper span.badge {
  padding: 10px;
  background-color: #4c5b9e;
}

.badge-skill-wrapper span.badge:nth-child(even) {
  padding: 10px;
  background-color: #8a8d97;
}
