body{

    margin: 0;

    padding: 0;

}

 

.container{

    width:90%;

    margin:0 auto;

}

 

.header{

    display: flex;

    justify-content: space-between;

}

 

nav{

  width:50%;

  margin:0 auto;

}

 

nav ul{

    display:flex;

    margin-left: 0;

    justify-content: space-around;

}

 

nav ul li{

    list-style: none;

    line-height: 42px;  

}

 

nav ul li a{

    text-decoration: none;

}

 

.main-container{

    display: flex;

    justify-content: space-between;

}

 

aside{

    width:300px;

    height:1500px;

    max-width: 400px;

    background:rgb(34, 30, 56);

    position: relative;

    color:white;

    overflow-x: hidden; /* Hide horizontal scrollbar */

    overflow-y: scroll; /* Add vertical scrollbar */

}

 

aside .line{

    background:white;

    height:1px;

}

 

article{

    width:80%;

    background:white;

}

 

aside img{

    width:150px;

    height: 150px;

    border-radius: 50%;

}

 

.header-section{

    margin:0 auto;

    padding:20px 0;

    background:rgb(252, 249, 249);

}

 

.header-section h1{

    text-align: center;

    font-size: 42px;

    margin-bottom:16px;

}

 

.line{

    width:150px;

    margin: 16px auto;

    height:3px;

    background:black;

 

}

 

.img-section{

    margin-top: 36px;

}

 

.row, .row-1, .row-2{

    position: relative;

    width:100%;

    margin-top: 24px;

}
.row{
    margin-bottom: 0;
}
 

.row-1{

    line-height: 140px;

}

 

.row-2{

    line-height:260px;

}

 

.row-left{

    width:20%;

    position:absolute;

    left:10px;

}

 

.row-right{

    width:70%;

    position:absolute;

    left:40px;

 

}

 

.center{

    text-align: center;

}

 

.sect-1{

    height:250px;

}

 

.sect-2{

    height:250px;

   

}

 

.sect-3{

    margin-top: 100px;

}

 

.sect-2 :nth-child(2){

    font-size:12px;

 

}

.left-row-adjust{

    margin-top: 24px;

    text-align: center;

}

 

.font-icon{

    font-size: 18px !important;

}

 

/**Article */

 

.article-container{

    width:95%;

    margin:0 auto;

}

 

.article-profile-section{

    margin-top:16px;

}

 

.article-work-experience-section{

    margin-top:32px;

}

 

.article-profile-section span, .article-work-experience-section .work, .article-skills-section span {

    font-size:20px;

    font-weight: 800;

    font-family: Georgia, 'Times New Roman', Times, serif;

    padding-bottom: 12px;

    border-bottom: solid 2px black;

}

 

.article-skills-section{

    margin-top:48px;

}

 

.article-skills-section ul{

    margin-top: 24px;

    padding-left: 10px;

}

 

.article-profile-section p{

    margin-top:32px;

}

 

.work-first{

    width:40%;

}

 

.article-work-experience-section .para{

    margin-top:8px;

}

 

.work-experience-split{

    margin-top:24px;

    margin-bottom: 0;

    width:100%;

    display: flex;

    justify-content: space-between;

}

 

.silver{

    color:silver;

    font-weight: 800;

}

 

.adjust-bottom{

    margin-bottom: 8px;

}

 

.adjust-bottom-1{

    margin-top:0;

}

 

/** Contact Form */

input[type=text], select, textarea {

    width: 100%; /* Full width */

    padding: 12px; /* Some padding */

    border: 1px solid #ccc; /* Gray border */

    border-radius: 4px; /* Rounded borders */

    box-sizing: border-box; /* Make sure that padding and width stays in place */

    margin-top: 6px; /* Add a top margin */

    margin-bottom: 16px; /* Bottom margin */

    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

  }

 

  /* Style the submit button with a specific background color etc */

  input[type=submit] {

    background-color: #04AA6D;

    color: white;

    padding: 12px 20px;

    border: none;

    border-radius: 4px;

    cursor: pointer;

  }

 

  /* When moving the mouse over the submit button, add a darker green color */

  input[type=submit]:hover {

    background-color: #45a049;

  }

 

  /* Add a background color and some padding around the form */

  .contact-form {

    border-radius: 5px;

    background-color: #f2f2f2;

    padding: 20px;

  }

 

/** Footer */

 

footer{

    background:rgb(44, 80, 80);

}

 

.footer p{

    padding: 32px;

    margin-top: 0;

    margin-bottom: 0;

    text-align: center;

    color:white;

}

 

@media only screen and (max-width: 767px) {

    nav{

        width: 100%;

    }

 

    aside{

        height:2400px;

    }

}

 

@media only screen and (min-width: 768px) and (max-width: 991px){

    aside{

        height:1800px;

        background:orange;

    }

}